<!-- Modal for assign track -->
<div class="modal fade" id="assignTrackModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <strong class="modal-title" id="exampleModalLabel">Assign track to a team member</strong>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [track, Assignment.new] do |f| %>
          <%# TODO: dropdown should not display user who already have this track assigned %>
          <%= f.association :user, collection: @employees_of_manager, label_method: :first_name, label: false, selected: @employees_of_manager.first %>
          <%= f.button :submit, "Assign", id: 'submit', class: 'btn-secondary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>