<%= render 'shared/navbar', is_home: false %>

<div class="dashboard-container">
  <div class="dashboard-sidebar">
    <%= render 'sidebar', tab: 'settings' %>
  </div>
  <div class="dashboard-main">
   <h2 class="text-center">Settings</h2>
  </div>
</div>
