<%= render 'shared/navbar', is_home: false %>

<div class="dashboard-container">
  <div class="dashboard-sidebar">
    <%= render 'sidebar', tab: 'track-library' %>
  </div>
  <div class="dashboard-main">
   <h2>Track Library</h2>
  </div>
</div>
