// Define variables for your color scheme

// For example:
$red: #fd1015;
$blue: #167ffb;
$yellow: #ffc65a;
$orange: #e67e22;
$green: #1edd88;
$gray: #0e0000;
$light-gray: #f4f4f4;

// Nubi colors

// Solid
$nubi-background: #fef7ff;
$theme-color1: #4d486b;
$theme-color2: #665f86;
$theme-color3: #97c9b9;

// Transparent variations
$theme-color1-tlvl1: rgba(46, 41, 75, 0.8);
$theme-color1-tlvl2: rgba(46, 41, 75, 0.5);
$theme-color1-tlvl3: rgba(46, 41, 75, 0.3);
