.dashboard-container {
  width: 100%;
  height: 100vh;
  padding-top: 3.95rem;
  display: flex;
}

.dashboard-main {
  width: calc(100vw - 5rem);
  padding: 2rem;
  position: relative;
  overflow-y: scroll;

  h2 {
    color: $medium-gray;
  }

  p {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.dashboard-sidebar {
  width: 5rem;
  background-color: $theme-purple-1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.2rem;
  padding-bottom: 1.8rem;

  .nav-tabs {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .nav-items-top,
  .nav-items-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav-items-top .nav-item {
    margin-bottom: 2.2rem;
  }

  .nav-item {
    position: relative;

    &:hover .nav-label {
      opacity: 1;
      visibility: visible;
    }
  }

  ul.nav {
    border-color: transparent;
  }

  .nav-link:hover {
    border-color: transparent;
  }

  .nav-link.active {
    background-color: inherit;
    border-color: transparent;
  }

  .nav-link.active i {
    color: $white;
  }

  i {
    color: rgba(255, 255, 255, 0.35);
    font-size: 1.3rem;
  }

  .nav-label {
    padding: 0.5rem 1.5rem;
    background-color: $white;
    font-size: 0.9rem;
    white-space: nowrap;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: 5px;
    left: 50px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.link-styling {
  color: black;
}

.link-styling:hover {
  text-decoration: none;
  color: rgb(80, 80, 80);
}

.btn-back {
  position: fixed;
}

.btn-add-step {
  cursor: pointer;
}

.my-tracks__ready {
  text-align: center;
  margin: 2rem 0rem;
  color: $medium-gray;
  font-weight: 300;
}
