.dashboard-container {
  width: 100%;
  height: 100vh;
  padding-top: 4rem;
  display: flex;
}

.dashboard-sidebar {
  width: 5rem;
  background-color: $theme-color2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1.8rem 0rem;

  .nav-tabs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav-item {
    margin-bottom: 2.5rem;
    position: relative;

    &:hover .nav-label {
      opacity: 1;
      visibility: visible;
    }
  }

  #settings-tab {
    margin-top: 8rem;
  }

  ul.nav {
    border-color: transparent;
  }

  .nav-link:hover {
    border-color: transparent;
  }

  .nav-link.active {
    background-color: inherit;
    border-color: transparent;
  }

  .nav-link.active i {
    color: $white;
  }

  i {
    color: rgba(255, 255, 255, 0.35);
    font-size: 1.3rem;
  }

  .nav-label {
    padding: 0.5rem 1.5rem;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 0.9rem;
    white-space: nowrap;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    position: absolute;
    bottom: 5px;
    left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
