<%= render 'shared/navbar', is_home: false %>

<div class="dashboard-container">
  <div class="dashboard-sidebar">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="my-tracks-tab" data-toggle="tab" href="#my-tracks" role="tab" aria-controls="my-tracks" aria-selected="true">
          <i class="fas fa-poll"></i>
        </a>
        <div class="nav-label">My Tracks</div>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="track-library-tab" data-toggle="tab" href="#track-library" role="tab" aria-controls="track-library" aria-selected="false">
          <i class="fab fa-hive"></i>
        </a>
        <div class="nav-label">Track Library</div>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="team-tab" data-toggle="tab" href="#team" role="tab" aria-controls="team" aria-selected="false">
          <i class="fas fa-users"></i>
        </a>
        <div class="nav-label">Team</div>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
          <i class="fas fa-user-alt"></i>
        </a>
        <div class="nav-label">Profile</div>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">
          <i class="fas fa-cog"></i>
        </a>
        <div class="nav-label">Settings</div>
      </li>
    </ul>
  </div>
  <div class="dashboard-main">
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="my-tracks" role="tabpanel" aria-labelledby="my-tracks-tab">
        <h2>My Tracks</h2>
      </div>
      <div class="tab-pane fade" id="track-library" role="tabpanel" aria-labelledby="track-library-tab">
        <h2>Track Library</h2>
      </div>
      <div class="tab-pane fade" id="team" role="tabpanel" aria-labelledby="team-tab">
        <h2>Team</h2>
      </div>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <h2>Profile</h2>
      </div>
      <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
        <h2>Settings</h2>
      </div>
    </div>
  </div>
</div>
