<div class="banner">
  <div class="home-container">
    <h1>Nubi helps employers to onboard newcomers</h1>
    <p>Make your new employees' beginning smoother than ever before</p>
    <a class="btn-primary" href="#explore">Explore now</a>
  </div>
</div>

<div id="explore" class="home-container">
  <h2 class="text-center">How it works</h2>
  <div class="step-cards">
    <div class="step-card">
      <%= image_tag 'signup.png', alt: 'signup' %>
      <h3>Sign up</h3>
      <p>Choose one of our plans and get started within few steps.</p>
    </div>

    <div class="step-card">
      <%= image_tag 'create.png', alt: 'create' %>
      <h3>Create tracks</h3>
      <p>
        Create tracks and assign them to your employees so that can clearly
        navigate and rehearse essential material.
      </p>
    </div>

    <div class="step-card">
      <%= image_tag 'benefit.png', alt: 'benefit' %>
      <h3>Benefit</h3>
      <p>
        Make your employees' onboarding a smooth and pleasant process while
        your are benefiting from their better perfomances at earlier stages.
      </p>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>