<div class="banner">
  <div class="home-container">
    <h1>Nubi helps employers to onboard newcomers</h1>
    <p>Make your new employees' beginning smoother than ever before</p>
    <a class="btn-primary" href="#explore">Explore now</a>
  </div>
</div>

<div id="explore" class="home-container">
  <div class="steps-container">
    <h2 class="text-center">How it works</h2>
    <div class="step-cards">
      <div class="step-card">
        <%= image_tag 'signup.png', alt: 'signup' %>
        <h3>Sign up</h3>
        <p>Choose one of our plans and get started within few steps.</p>
      </div>

      <div class="step-card">
        <%= image_tag 'create.png', alt: 'create' %>
        <h3>Create tracks</h3>
        <p>
          Managers create tracks and easily organize onboarding materials.
        </p>
      </div>

      <div class="step-card">
        <%= image_tag 'benefit.png', alt: 'benefit' %>
        <h3>Easy onboarding</h3>
        <p>
          New employees enjoy easy onboarding and become productive quicker.
        </p>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>