<%= render 'shared/navbar', is_home: true %>
<div class="banner">
  <div class="home-container">
    <h1>Nubi helps employers to onboard newcomers</h1>
    <p>Make your new employees' beginning smoother than ever before</p>
    <a class="btn btn-primary" href="#explore">Explore now</a>
  </div>
</div>
