.navbar-lewagon {
  justify-content: space-between;
  padding: 0.5rem 1.5rem;

  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-brand img {
    width: 40px;
  }

  &.navbar-home .nav-link {
    color: $white !important;
  }
}
