.navbar-lewagon {
  background-color: $theme-color2;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;

  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-brand img {
    width: 35px;
  }

  .nav-item {
    vertical-align: middle;
  }

  .nav-link {
    color: $white !important;
  }

  .nav-link__username {
    font-size: 0.9rem;
  }

  .fa-power-off {
    font-size: 1.3rem;
  }

  .nav-btn-dashboard {
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    transition: background 0.3s ease;

    &:hover {
      background-color: rgba(255, 255, 255, 0.15);
    }
  }
}

.navbar-lewagon.navbar-home {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  .navbar-toggler i {
    color: $white;
    font-size: 1.8rem;
  }

  .nav-link {
    color: $white !important;
  }
}
